<ul id ='linklist'>
  <% @links.each do |link| %>
        <li>
          Title: <%= link.title %>
          URL: <%= link.url %>
          Tag: <%= link.tags.map(&:name).to_s %>
        </li>
  <% end %>
</ul>